footer.footer
    .footer__logo
        img(src='/img/logo-main.png' alt='AgroApp Logo')
    ul.footer__nav
        li: a(href='#') About us
        li: a(href='#') Become Seller
        li: a(href='#') Download apps
        li: a(href='#') Careers
        li: a(href='#') Contact
    p.footer_copyright &copy; by Aniket Jadhav. All rights reserved.
    