extends base

block content
    main.main
        .forgot-password-form
            h2.heading-secondary.ma-bt-lg Recover Your Password
            form.form.form--forgotPassword
                .form__group
                    label.form__label(for='email') Your Registered Email Address
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                    button.btn.btn--green Get Recovery Email