extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Set New Password
            form.form.form--password-recover       
                .form__group.ma-bt-md
                    label.form__label(for='password') New Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='confirm-password') Confirm New Password
                    input#confirm-password.form__input(type='password', placeholder='••••••••', required, minlength='8')    
                .form__group
                    button.btn.btn--green Set New Password